.selectize-control.people .selectize-dropdown [data-selectable] {
  border-bottom: 1px solid rgba(0,0,0,0.05);
}
.selectize-control.people .selectize-dropdown .born-at {
  font-size: 11px;
  opacity: 0.8;
}
.selectize-control.people .selectize-dropdown .born-at::after {
  content: ' г.р.';
}
.selectize-control.people .selectize-dropdown .name {
  font-weight: bold;
  margin-right: 5px;
}
.selectize-control.people .selectize-dropdown .name-alt {
  margin-right: 5px;
}
.selectize-control.people .selectize-dropdown .title {
  display: block;
}
.selectize-control.people .selectize-dropdown .birth-place {
  font-size: 12px;
  display: block;
  opacity: 0.5;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.selectize-control.people .selectize-dropdown .meta {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 10px;
}
.selectize-control.people .selectize-dropdown .meta li {
  margin: 0;
  padding: 0;
  display: inline;
  margin-right: 10px;
}
.selectize-control.people .selectize-dropdown .meta li span {
  font-weight: bold;
}

.selectize-control.people.loading::before {
  opacity: 0.4;
}

