doctype html
html
  head
    title РосФин экстремисты/террористы

    meta charset='utf-8'
    meta name='viewport' content='width=device-width, initial-scale=1.0'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  body
    .container
      = yield